* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #A3C8FA;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.obsah {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color: #fff;
    margin: 10px auto;

    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 30px 50px rgb(0,0,0,0.1);
}

.obsah .obecne {
    position: relative;
    background: #063d64;
    padding: 40px;
    border-radius: 0 30px 30px 0;
}

.profil {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
}

.profil .foto {
    position: relative;
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #A3C8FA;
}
.profil .foto img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profil h2 {
    color: #fff;
    font-size: 1.41em;  
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profil h2 span {
    font-size: 0.8em;
    font-weight: 300;
}


.kontakt {
    padding-top: 40px;
}

.titulek {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.kontakt ul {
    position: relative;
}

.kontakt ul li {
    position: relative;  
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}



.kontakt ul li .ikona {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #fff;
}

.kontakt ul li span {
    color: #fff;
    font-weight: 300;
}

.kontakt ul li a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
}



.obsah .zkusenosti {
    position: relative;
    background: #fff;
    padding: 40px;
}

.omne {
    margin-top: 20px;
    margin-bottom: 20px;
}

.omne:last-child {
    margin-bottom: 0;
}

.titulek2 {
    color: #063d64;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
    font-size: 20px;
}

p {
    color: #333;
}

hr {
    border: 0.5px solid #063d64;
    margin-top: 15px;
}

.vzdelani .box {
    margin: 5px 0;
}

.vzdelani p {
    font-size: 15px;
}